// COLORS
//$green: #0f0;
$header: #2d2f3b;
$border: #313745;
$dot: #4c4f62;
$active: #f06c64;
$arrow: #ca4548;
$h1h2: #666d89;
$pbtn: #767e9e;
$quote: #f0d8d9;

//FONT MAPPINGS
//$primary-font: "Charmonman", cursive;
